In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df= pd.read_csv('covid_19_india.csv')
df.head(10)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3
5,6,2020-02-04,6:00 PM,Kerala,3,0,0,0,3
6,7,2020-02-05,6:00 PM,Kerala,3,0,0,0,3
7,8,2020-02-06,6:00 PM,Kerala,3,0,0,0,3
8,9,2020-02-07,6:00 PM,Kerala,3,0,0,0,3
9,10,2020-02-08,6:00 PM,Kerala,3,0,0,0,3

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18110 entries, 0 to 18109
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       18110 non-null  int64
 1   Date                      18110 non-null  object
 2   Time                      18110 non-null  object
 3   State/UnionTerritory      18110 non-null  object
 4   ConfirmedIndianNational   18110 non-null  object
 5   ConfirmedForeignNational  18110 non-null  object
 6   Cured                     18110 non-null  int64
 7   Deaths                    18110 non-null  int64
 8   Confirmed                 18110 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.2+ MB

In [4]:
df.isnull().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [5]:
df.drop('Sno',axis=1, inplace=True)
df.tail(10)

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
18100,2021-08-11,8:00 AM,Puducherry,-,-,119115,1800,121766
18101,2021-08-11,8:00 AM,Punjab,-,-,582791,16322,599573
18102,2021-08-11,8:00 AM,Rajasthan,-,-,944700,8954,953851
18103,2021-08-11,8:00 AM,Sikkim,-,-,25095,356,28018
18104,2021-08-11,8:00 AM,Tamil Nadu,-,-,2524400,34367,2579130
18105,2021-08-11,8:00 AM,Telangana,-,-,638410,3831,650353
18106,2021-08-11,8:00 AM,Tripura,-,-,77811,773,80660
18107,2021-08-11,8:00 AM,Uttarakhand,-,-,334650,7368,342462
18108,2021-08-11,8:00 AM,Uttar Pradesh,-,-,1685492,22775,1708812
18109,2021-08-11,8:00 AM,West Bengal,-,-,1506532,18252,1534999

In [6]:
df["State/UnionTerritory"].value_counts()

Kerala                                      560
Delhi                                       528
Rajasthan                                   527
Uttar Pradesh                               526
Haryana                                     526
Ladakh                                      523
Tamil Nadu                                  523
Punjab                                      521
Jammu and Kashmir                           521
Maharashtra                                 520
Karnataka                                   520
Andhra Pradesh                              518
Uttarakhand                                 515
Odisha                                      514
Puducherry                                  512
West Bengal                                 512
Chhattisgarh                                511
Chandigarh                                  511
Gujarat                                     510
Himachal Pradesh                            508
Madhya Pradesh                              508
Bihar                                       506
Manipur                                     506
Mizoram                                     505
Andaman and Nicobar Islands                 504
Goa                                         504
Assam                                       498
Jharkhand                                   498
Arunachal Pradesh                           496
Tripura                                     492
Meghalaya                                   485
Dadra and Nagar Haveli and Daman and Diu    461
Nagaland                                    452
Sikkim                                      445
Telengana                                   426
Lakshadweep                                 244
Telangana                                   102
Cases being reassigned to states             60
Unassigned                                    3
Dadra and Nagar Haveli                        2
Bihar****                                     2
Daman & Diu                                   1
Madhya Pradesh***                             1
Himanchal Pradesh                             1
Karanataka                                    1
Maharashtra***                                1
Name: State/UnionTerritory, dtype: int64

In [7]:
df[df['State/UnionTerritory']=='Bihar****']

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
15846,2021-06-10,8:00 AM,Bihar****,-,-,701234,9429,715179
15882,2021-06-11,8:00 AM,Bihar****,-,-,701234,9452,715730

In [8]:
df[df['Date']=="2021-06-10"]

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
15842,2021-06-10,8:00 AM,Andaman and Nicobar Islands,-,-,6952,125,7168
15843,2021-06-10,8:00 AM,Andhra Pradesh,-,-,1664082,11696,1779773
15844,2021-06-10,8:00 AM,Arunachal Pradesh,-,-,26848,128,30247
15845,2021-06-10,8:00 AM,Assam,-,-,392806,3793,446445
15846,2021-06-10,8:00 AM,Bihar****,-,-,701234,9429,715179
15847,2021-06-10,8:00 AM,Chandigarh,-,-,59432,781,60862
15848,2021-06-10,8:00 AM,Chhattisgarh,-,-,952532,13271,983916
15849,2021-06-10,8:00 AM,Dadra and Nagar Haveli and Daman and Diu,-,-,10296,4,10437
15850,2021-06-10,8:00 AM,Delhi,-,-,1400913,24704,1430128
15851,2021-06-10,8:00 AM,Goa,-,-,152073,2877,160740
15852,2021-06-10,8:00 AM,Gujarat,-,-,794703,9965,818351
15853,2021-06-10,8:00 AM,Haryana,-,-,748186,8829,764094
15854,2021-06-10,8:00 AM,Himachal Pradesh,-,-,186880,3343,196905
15855,2021-06-10,8:00 AM,Jammu and Kashmir,-,-,279779,4118,303749
15856,2021-06-10,8:00 AM,Jharkhand,-,-,332622,5076,342481
15857,2021-06-10,8:00 AM,Karnataka,-,-,2480411,32291,2728248
15858,2021-06-10,8:00 AM,Kerala,-,-,2524248,10437,2674166
15859,2021-06-10,8:00 AM,Ladakh,-,-,18265,195,19385
15860,2021-06-10,8:00 AM,Lakshadweep,-,-,8173,42,9002
15861,2021-06-10,8:00 AM,Madhya Pradesh,-,-,771243,8441,786755
15862,2021-06-10,8:00 AM,Maharashtra,-,-,5597304,101833,5863880
15863,2021-06-10,8:00 AM,Manipur,-,-,47129,915,57351
15864,2021-06-10,8:00 AM,Meghalaya,-,-,34440,694,39983
15865,2021-06-10,8:00 AM,Mizoram,-,-,10891,58,14534
15866,2021-06-10,8:00 AM,Nagaland,-,-,18909,435,23237
15867,2021-06-10,8:00 AM,Odisha,-,-,764673,3123,831129
15868,2021-06-10,8:00 AM,Puducherry,-,-,102247,1648,110748
15869,2021-06-10,8:00 AM,Punjab,-,-,550837,15293,583474
15870,2021-06-10,8:00 AM,Rajasthan,-,-,927443,8749,948024
15871,2021-06-10,8:00 AM,Sikkim,-,-,13511,276,17656
15872,2021-06-10,8:00 AM,Tamil Nadu,-,-,2059597,28170,2292025
15873,2021-06-10,8:00 AM,Telangana,-,-,569086,3426,596813
15874,2021-06-10,8:00 AM,Tripura,-,-,50803,591,57452
15875,2021-06-10,8:00 AM,Uttarakhand,-,-,319371,6849,335478
15876,2021-06-10,8:00 AM,Uttar Pradesh,-,-,1666001,21516,1700476
15877,2021-06-10,8:00 AM,West Bengal,-,-,1411573,16555,1442830

In [9]:
df['State/UnionTerritory']=df['State/UnionTerritory'].str.split('*').str[0]
df["State/UnionTerritory"].value_counts()

Kerala                                      560
Delhi                                       528
Rajasthan                                   527
Uttar Pradesh                               526
Haryana                                     526
Ladakh                                      523
Tamil Nadu                                  523
Punjab                                      521
Jammu and Kashmir                           521
Maharashtra                                 521
Karnataka                                   520
Andhra Pradesh                              518
Uttarakhand                                 515
Odisha                                      514
Puducherry                                  512
West Bengal                                 512
Chhattisgarh                                511
Chandigarh                                  511
Gujarat                                     510
Madhya Pradesh                              509
Himachal Pradesh                            508
Bihar                                       508
Manipur                                     506
Mizoram                                     505
Andaman and Nicobar Islands                 504
Goa                                         504
Jharkhand                                   498
Assam                                       498
Arunachal Pradesh                           496
Tripura                                     492
Meghalaya                                   485
Dadra and Nagar Haveli and Daman and Diu    461
Nagaland                                    452
Sikkim                                      445
Telengana                                   426
Lakshadweep                                 244
Telangana                                   102
Cases being reassigned to states             60
Unassigned                                    3
Dadra and Nagar Haveli                        2
Daman & Diu                                   1
Himanchal Pradesh                             1
Karanataka                                    1
Name: State/UnionTerritory, dtype: int64

In [10]:
#df['State/UnionTerritory']=df['State/UnionTerritory'].str.replace('Dadra and Nagar Haveli  ','Dadra and Nagar Haveli and Daman and Diu')
df['State/UnionTerritory']=df['State/UnionTerritory'].str.replace('Karanataka','Karnataka')
df['State/UnionTerritory']=df['State/UnionTerritory'].str.replace('Telangana','Telengana')
df['State/UnionTerritory']=df['State/UnionTerritory'].str.replace('Himanchal Pradesh','Himachal Pradesh')
df["State/UnionTerritory"].value_counts()

Kerala                                      560
Delhi                                       528
Telengana                                   528
Rajasthan                                   527
Haryana                                     526
Uttar Pradesh                               526
Ladakh                                      523
Tamil Nadu                                  523
Jammu and Kashmir                           521
Punjab                                      521
Maharashtra                                 521
Karnataka                                   521
Andhra Pradesh                              518
Uttarakhand                                 515
Odisha                                      514
Puducherry                                  512
West Bengal                                 512
Chhattisgarh                                511
Chandigarh                                  511
Gujarat                                     510
Madhya Pradesh                              509
Himachal Pradesh                            509
Bihar                                       508
Manipur                                     506
Mizoram                                     505
Andaman and Nicobar Islands                 504
Goa                                         504
Assam                                       498
Jharkhand                                   498
Arunachal Pradesh                           496
Tripura                                     492
Meghalaya                                   485
Dadra and Nagar Haveli and Daman and Diu    461
Nagaland                                    452
Sikkim                                      445
Lakshadweep                                 244
Cases being reassigned to states             60
Unassigned                                    3
Dadra and Nagar Haveli                        2
Daman & Diu                                   1
Name: State/UnionTerritory, dtype: int64

In [11]:
#df.drop(df[df['State/UnionTerritory']=='Unassigned'], inplace=True)
df= df.loc[df['State/UnionTerritory'] !="Unassigned"]
df= df.loc[df['State/UnionTerritory'] !="Dadra and Nagar Haveli"]
df= df.loc[df['State/UnionTerritory'] !="Daman & Diu"]
df= df.loc[df['State/UnionTerritory'] !='Cases being reassigned to states']
df["State/UnionTerritory"].value_counts()

Kerala                                      560
Delhi                                       528
Telengana                                   528
Rajasthan                                   527
Uttar Pradesh                               526
Haryana                                     526
Ladakh                                      523
Tamil Nadu                                  523
Punjab                                      521
Jammu and Kashmir                           521
Karnataka                                   521
Maharashtra                                 521
Andhra Pradesh                              518
Uttarakhand                                 515
Odisha                                      514
Puducherry                                  512
West Bengal                                 512
Chandigarh                                  511
Chhattisgarh                                511
Gujarat                                     510
Himachal Pradesh                            509
Madhya Pradesh                              509
Bihar                                       508
Manipur                                     506
Mizoram                                     505
Andaman and Nicobar Islands                 504
Goa                                         504
Jharkhand                                   498
Assam                                       498
Arunachal Pradesh                           496
Tripura                                     492
Meghalaya                                   485
Dadra and Nagar Haveli and Daman and Diu    461
Nagaland                                    452
Sikkim                                      445
Lakshadweep                                 244
Name: State/UnionTerritory, dtype: int64

In [12]:
df[400:450]

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
400,2020-03-27,10:00 AM,Haryana,16,14,11,0,30
401,2020-03-27,10:00 AM,Himachal Pradesh,3,0,0,1,3
402,2020-03-27,10:00 AM,Jammu and Kashmir,13,0,1,1,13
403,2020-03-27,10:00 AM,Karnataka,55,0,3,2,55
404,2020-03-27,10:00 AM,Kerala,129,8,11,0,137
405,2020-03-27,10:00 AM,Ladakh,13,0,3,0,13
406,2020-03-27,10:00 AM,Madhya Pradesh,20,0,0,1,20
407,2020-03-27,10:00 AM,Maharashtra,127,3,15,4,130
408,2020-03-27,10:00 AM,Manipur,1,0,0,0,1
409,2020-03-27,10:00 AM,Mizoram,1,0,0,0,1
410,2020-03-27,10:00 AM,Odisha,2,0,0,0,2
411,2020-03-27,10:00 AM,Puducherry,1,0,0,0,1
412,2020-03-27,10:00 AM,Punjab,33,0,0,1,33
413,2020-03-27,10:00 AM,Rajasthan,39,2,3,0,41
414,2020-03-27,10:00 AM,Tamil Nadu,23,6,1,1,29
415,2020-03-27,10:00 AM,Telengana,35,10,1,0,45
416,2020-03-27,10:00 AM,Uttarakhand,4,1,0,0,5
417,2020-03-27,10:00 AM,Uttar Pradesh,40,1,11,0,41
418,2020-03-27,10:00 AM,West Bengal,10,0,0,1,10
419,2020-03-28,6:00 PM,Andhra Pradesh,14,0,1,0,14
420,2020-03-28,6:00 PM,Andaman and Nicobar Islands,6,0,0,0,6
421,2020-03-28,6:00 PM,Bihar,9,0,0,1,9
422,2020-03-28,6:00 PM,Chandigarh,8,0,0,0,8
423,2020-03-28,6:00 PM,Chhattisgarh,6,0,0,0,6
424,2020-03-28,6:00 PM,Delhi,38,1,6,1,39
425,2020-03-28,6:00 PM,Goa,3,0,0,0,3
426,2020-03-28,6:00 PM,Gujarat,44,1,0,3,45
427,2020-03-28,6:00 PM,Haryana,19,14,12,0,33
428,2020-03-28,6:00 PM,Himachal Pradesh,3,0,0,1,3
429,2020-03-28,6:00 PM,Jammu and Kashmir,20,0,1,1,20
430,2020-03-28,6:00 PM,Karnataka,55,0,3,2,55
431,2020-03-28,6:00 PM,Kerala,168,8,11,0,176
432,2020-03-28,6:00 PM,Ladakh,13,0,3,0,13
433,2020-03-28,6:00 PM,Madhya Pradesh,30,0,0,2,30
434,2020-03-28,6:00 PM,Maharashtra,177,3,25,5,180
435,2020-03-28,6:00 PM,Manipur,1,0,0,0,1
436,2020-03-28,6:00 PM,Mizoram,1,0,0,0,1
437,2020-03-28,6:00 PM,Odisha,3,0,0,0,3
438,2020-03-28,6:00 PM,Puducherry,1,0,0,0,1
439,2020-03-28,6:00 PM,Punjab,38,0,1,1,38
440,2020-03-28,6:00 PM,Rajasthan,52,2,3,0,54
441,2020-03-28,6:00 PM,Tamil Nadu,34,6,2,1,40
442,2020-03-28,6:00 PM,Telengana,46,10,1,0,56
443,2020-03-28,6:00 PM,Uttarakhand,4,1,0,0,5
444,2020-03-28,6:00 PM,Uttar Pradesh,54,1,11,0,55
445,2020-03-28,6:00 PM,West Bengal,15,0,0,1,15
446,2020-03-29,7:30 PM,Andhra Pradesh,-,-,1,0,19
447,2020-03-29,7:30 PM,Andaman and Nicobar Islands,-,-,0,0,9
448,2020-03-29,7:30 PM,Bihar,-,-,0,1,11
449,2020-03-29,7:30 PM,Chandigarh,-,-,0,0,8

In [13]:
df_initial= df[:446]
df_initial.tail()

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
441,2020-03-28,6:00 PM,Tamil Nadu,34,6,2,1,40
442,2020-03-28,6:00 PM,Telengana,46,10,1,0,56
443,2020-03-28,6:00 PM,Uttarakhand,4,1,0,0,5
444,2020-03-28,6:00 PM,Uttar Pradesh,54,1,11,0,55
445,2020-03-28,6:00 PM,West Bengal,15,0,0,1,15

In [14]:
df.drop(['ConfirmedIndianNational', 'ConfirmedForeignNational'], axis=1, inplace=True)
df[df['State/UnionTerritory']=='Bihar']

             Date     Time State/UnionTerritory   Cured  Deaths  Confirmed
271    2020-03-22  6:00 PM                Bihar       0       1          2
294    2020-03-23  6:00 PM                Bihar       0       1          2
317    2020-03-24  6:00 PM                Bihar       0       1          3
341    2020-03-25  6:00 PM                Bihar       0       1          4
367    2020-03-26  6:00 PM                Bihar       0       1          6
...           ...      ...                  ...     ...     ...        ...
17934  2021-08-07  8:00 AM                Bihar  715119    9646     725122
17970  2021-08-08  8:00 AM                Bihar  715191    9646     725158
18006  2021-08-09  8:00 AM                Bihar  715236    9646     725192
18042  2021-08-10  8:00 AM                Bihar  715303    9646     725235
18078  2021-08-11  8:00 AM                Bihar  715352    9646     725279

[508 rows x 6 columns]

In [26]:
df[447:]

,Date,Time,State/UnionTerritory,Cured,Deaths,Confirmed
447,2020-03-29,7:30 PM,Andaman and Nicobar Islands,0,0,9
448,2020-03-29,7:30 PM,Bihar,0,1,11
449,2020-03-29,7:30 PM,Chandigarh,0,0,8
450,2020-03-29,7:30 PM,Chhattisgarh,0,0,7
451,2020-03-29,7:30 PM,Delhi,6,2,49
...,...,...,...,...,...,...
18105,2021-08-11,8:00 AM,Telengana,638410,3831,650353
18106,2021-08-11,8:00 AM,Tripura,77811,773,80660
18107,2021-08-11,8:00 AM,Uttarakhand,334650,7368,342462
18108,2021-08-11,8:00 AM,Uttar Pradesh,1685492,22775,1708812
18109,2021-08-11,8:00 AM,West Bengal,1506532,18252,1534999

In [15]:
# df.to_csv('F:\coding\Covid-19 cleaned.csv') 
# df_initial.to_csv('F:\coding\Initial Covid-19 cleaned.csv')